<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport"
				content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
	     <!-- This policy allows everything (eg CSS, AJAX, object, frame, media, etc) except that
          * CSS only from the same origin and inline styles,
          * scripts only from the same origin and inline styles, and eval()
          -->
	<meta http-equiv="Content-Security-Policy"
				content="default-src * data: ;
						style-src 'self' 'unsafe-inline';
						script-src * 'self' 'unsafe-inline' 'unsafe-eval';
						font-src 'self' data: ;
						connect-src * 'self' data: 'unsafe-eval' ;">

	<title><%= htmlWebpackPlugin.options.pkg.description %></title>
</head>

<body class="six-river-wrap">
	<div>

		<h2>Robot Simulator</h2>
		<h4>The application can read commands in following format (case insensitive):</h4>
		<dl>
			<dt>RESTART--Clear the state and shuffle the goal and robot locations</dt>
			<dt>MOVE--Move the robot one step forward</dt>
			<dt>LEFT==Turn the robot 90 degrees to the left</dt>
			<dt>RIGHT--Turn the robot 90 degrees to the right</dt>
			<dt>STEPAI--Step the Behavior Tree once</dt>
			<dt>ENLARGE--Command text to enlarge the grid size</dt>
			<dt>NEXTPUR/NEXTRED/NEXTGRN--Force a new player after a goal, and begin new game</dt>
			<dt>PLACE X,Y,F - where F is one of ['north', 'south', 'east', west']--'Warp' the robot to a new position and orientation. This is 'cheating', but useful for debugging.</dt>
		</dl>
		</p>
		<main>
			<div class="input-area">
				<label for="chk1Robots">Player 1:</label>
	 			<input type="radio" id="chk1Robots" name="players" class="radio" checked="checked" onclick="if(this.checked) 
				canvasView.addPlayers(this);" />		
				<label for="chk2Robots">Player 2:</label>
	 			<input type="radio" id="chk2Robots" name="players" class="radio" onclick="if(this.checked) 
				canvasView.addPlayers(this);" />			
				<label for="chk3Robots">Player 3:</label>
	 			<input type="radio" id="chk3Robots" name="players" class="radio" onclick="if(this.checked) 
				canvasView.addPlayers(this);" />					
				<label for="checkbox">Increase Grid Size to 8 x 8:</label>
	 			<input type="checkbox" id="chkbox" onchange="canvasView.chkboxProcessor(this);" />				
				<label for="command">Enter Command:</label>
				<input type="text" id="command" on onkeydown="if (event.keyCode == 13) inputView.processCommand(this.value);" autofocus>
			</div>
			<div class="content">
				<h4>Current Status:</h4>
					<div style="overflow: hidden;">
						<p id="report"></p>
						<p id="error"></p>
					</div>
<!-- 				<p><label name="lblGO" id="lblGameOver" text="GAME OVER!" /></p> -->
			</div>
			<canvas id="c" width="555" height="580"></canvas>
		</main>
	</div>
</body>

<!-- <%= htmlWebpackPlugin.options.pkg.name + ' v' + htmlWebpackPlugin.options.pkg.version + ' built on ' + new Date() %> -->
</html>
